*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  width: 100vw;
  height: 100vh;
  background-image: url("../img/fondo2.jpeg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  overflow-x: hidden;
}

ul{
  display: grid;
  grid-template-columns: repeat(4,2fr);
}

.row{
  align-items: center;
}


.container-center{
  margin-top: 50px;
}

.group-count-grid{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
  margin-top: 10px;
}

.bg-white h2{
  padding-top: 10px;
}

#mapestate{
  margin: 30px 0px;
}

.d-grid {
  justify-content: center;
}

.header{
  background-color: #2E2A37;
}

.header h2{
  font-weight: 400;
  padding: 10px;
}

.container-count{

  margin: 40px;

}

.avatar {
  width: 250px; /* Ancho de la imagen en PC */
  height: 250px; /* Alto de la imagen en PC */
  object-fit: cover;
  border: 4px solid white;
}

.mt-3 {
  margin: 0;
  margin: 40px;
}




@media (width <= 993px){
  .container-count{
    display: flex;
    flex-direction: column;
  }
  .count-cont{
    width: 100%;
  }

  .mt-3{
    text-align: center;
  }
}

@media (width <= 500px){
  .group-count-grid {
    display: block;
  }

  .avatar{
    width: 200px; /* Ancho de la imagen en PC */
    height: 200px;
  }
}




.grid-temp{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.gap{
  margin-left:10px;
}


div.leaflet-control-attribution a{
  display: none;
}

.form-control{
  width: 100%; 
}

.input-control{
  width: 80%;
}

.input-select{
  width: 80%;
}

.z-in{
  display: block;
  position: static;
}


.btn-primary{
  background-color: #873574;
  border: none;
  transition: .5s;
}



.btn-primary:hover{
  background: #a81686;;
}

.btn-secondary{
  border: none;
  
}

#navbar{

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.h-12{
  margin-left: 10px;
}



#menu-responsive{
  background: none;
  border: none;
}


body::-webkit-scrollbar{
  
  width: 10px;
}


.ocult{
  display: none;
}



body::-webkit-scrollbar-thumb{
  background-color: #2E2A37;
  border-right: 2px solid #343a40
}


a{
  text-decoration: none;
}

.in{
  border: none;
  color: white;
  background-color: #B05099;
}

.in1{
  border: none;
  color: white;
  background-color: #B05099;
}

.in2{
  border: none;
  color: white;
  margin-left: 10px;
  background-color: #B05099;
}

h4{
  font-size: 11px;
  color:#343a40;
}

.card{
  position: static;
  border: none;
  -webkit-box-shadow: -4px 10px 19px -7px rgba(0,0,0,0.75);
  -moz-box-shadow: -4px 10px 19px -7px rgba(0,0,0,0.75);
  box-shadow: -4px 10px 19px -7px rgba(0,0,0,0.75);
}




.bx-user-circle{
  color: white;
}

/* MENÚ */
.add-button{

  z-index: var(--bs-backdrop-zindex);
  --bs-backdrop-zindex: 1050;

  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 2rem;
  position: fixed;
  width: 250px;
  top: 0;
  right: 0;
  bottom: 0;
  color: white;
  background-color: #1c1c1c;
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
  visibility: hidden;
  opacity: 0;
}

.patch-btns-menu{
  display: none;
}


#menu-responsive{
  background: none;
  border: none;
  display: block;
  margin-right: 10px;
}

  .bx-menu{
  font-size: 40px;
  color:white;
  }

  .add-button.visible{
    visibility: visible;
    opacity: 1;
  }

  .cerrar{
    margin-right: 10px;
    background: none;
    border: none;
    color: white;
  }

  
.bx-x{
  font-size: 40px;
}



.gap{
  display: flex;
  margin: 10px 0;
} 

.in, .out{
background: none;
border: none;
margin: 0;
}


.out{
  font-weight: 700;
  color:rgb(223, 13, 13);
}

.group-buttons-aux, .btn-deskt{
  display: flex;
}





.card-title{
  margin: 0;
  color: #343a40;
}

.cards{
  margin: 50px;
}



form.details-inm{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}



nav{
  z-index: var(--bs-backdrop-zindex);
  --bs-backdrop-zindex: 1050;
  width: 100vw;
  padding: 10px;
  background-color: #2E2A37;
}

h3{
  color: white;
}
/* 
.cards{
  margin: 50px;
}

.row{
  margin: 0;
} */

.pagination{
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 20px;
}



.group{
  display: none;
}


.active-group{
  display: flex;
  flex-wrap: wrap; 
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.grid-templ{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  text-align: center;
  font-size: 14px;
  width: 100%;
  gap: 10px;
}


.btn-pag{
  margin: 0 5px;
  border: none;
  padding: 4px 8px;
  height: 35px;
  font-size: 15px;
}


.btn-pag:hover{
  background-color: #2E2A37;
  color: white;
}



.act{
  background-color:#5E1F5A;
  padding: 4px 8px;
  margin: 0 5px;
  font-size: 15px;
  border: none;
  color: white;
  height: 35px;
}


.btn-responsive {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em 2em;
  border-radius: 2em;
  font-size: 1em;
  transition: all 0.3s ease;
}

.buscador {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top : 20px;
}

.btn-secondary{
  transition: .5s;
}


.buscador .btn {
  background-color: rgb(2, 219, 211) ;
  margin-left: 5px;
  font-weight: 600;
  transition: .5s;
  border: none;
}

.buscador .btn:hover{
  background-color: #2E2A37;
}

.card-img-top::before{
    background-color: rgba(0, 0, 0, 0.5);
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
}

.btn-delete{
  width: 120px;
  height: 40px;
  padding: 8px 15px;
  background: none;
  color: white;
  border:none;
  border-radius: 60px;
  font-size: 16px;
}

.btn-delete:hover{
  background-color: #5c636a;
}


@media (width <= 823px){
  h2.name-asesor{
    width: 400px;
  }

  div.rule{
    width: 50%;
  }

  h3.card-title{
    font-size:18px;
  }

  h4{
    font-size: 13px;
  }

}

@media (width <= 839px){
    
 .patch-btns-menu{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
 }
  
 .btn-deskt{
  display: none;
 }

  .grid-templ{
    grid-template-columns: repeat(2,1fr);
    gap: 5px;
  }







.icn{
  font-size: 25px;
}






  h2.name-asesor{
    font-size: 40px;
    width: 300px;
  }

  .h-12{
    margin-left: 5px;
  }


  div.row{
    justify-content: center;
  }

  div.rule{
    width: 100%;
  }

  h3.card-title{
    font-size:32px;
  }

  h4{
    font-size: 20px;
  }

  i{
    text-align: center;
    font-size:20px;
  }
  .buscador .btn {
    display: none;
  }

  .ocult{
    color:white;
    display: inline;
    background-color: rgb(2, 219, 211) ;
    margin-left: 5px;
    font-weight: 600;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 40px;
  }

  i.lupa{
    padding-top: 5px;
  }

  .cerrar{
    display: inline;
  }
  
  /* div.add-button{
    /* display: none; */
  /* } */


}

.style-body-modal{
  background-color: #2E2A37;
}

#add-form{
  color: white;
}

option{
  width: 20px;
}


.center{
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

}



option{
  border: none; 
}

#m_c{
  padding-left: 5px ;
  text-align: center;
}





.block{
  margin: 20px;
  background-color: rgb(254, 254, 254);
  -webkit-box-shadow: -4px 10px 19px -7px rgba(0,0,0,0.75);
  -moz-box-shadow: -4px 10px 19px -7px rgba(0,0,0,0.75);
  box-shadow: -4px 10px 19px -7px rgba(0,0,0,0.75);
  display: flow;
  width: 80%;
  /* min-height: 500px; Ajusta la altura mínima del contenedor */
  /* align-items: center; */
}
.inmueble{
  width: 50%;
  height: 100%;
  background-color: rgb(255, 255, 255);
}

.carousel{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
}

@media (max-width: 768px) { /* Puedes ajustar el tamaño según tus necesidades */
  .carousel {
      margin-left: auto; /* Centra el elemento horizontalmente */
      margin-right: auto; /* Centra el elemento horizontalmente */
      width: 100%; /* Ajusta el ancho según sea necesario para móviles */
  }

  ul{
    grid-template-columns: repeat(2,2fr);
  }
}

.info{
  width: 100%;
  background-color: rgb(254, 254, 254);
  
}

.form-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
 
}

.form-group {
  flex: 1 1 calc(50% - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 14px;
}

#details-title{
  color:#343a40;
  margin-top: 10px; 
  font-weight: bold;
  font-size: 38px;
  text-align: center;
}


#btn-special{
  visibility: hidden;
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 20px;
}

.btn-save{
  height: 50px;
  width: 120px;
  background-color: #B05099;
  color: white;
  border:none;
  border-radius: 60px;
  font-size: 16px;
}

.x{
  font-size:16px !important;
}



.btn-save:hover{
  background-color: #343a40;
  color:white;
}


.btn-x{
  height: 50px;
  width: 120px;
  background-color: #8B87AF ;
  color: white;
  border:none;
  border-radius: 60px;
  font-size: 16px;
}

div.block-name{
  width: 100vw;
  display: flex;
  justify-content: center;
}


@media (width <= 815px){
  .inmueble{
    width: 100%;
    height: 100%;
  }
  .block{
    flex-direction: column;
  }

  .center{
    width: 100%;
  }

  #btn-special{
    margin-bottom: 20px;
  }

  .btn-save{
  width: 150px; 
  }

  .second-view{
    font-size: 20px;
  }
  

}

@media (width <= 555px){
  #details-title{
    font-size: 24px;
  }

  #form{
    flex-direction: column;
  }

  #btn-special{
    flex-direction: column;
    align-items: center;
  }

  .btn-save{
    margin-bottom: 40px;
  }

  .btn-delete{
    background: none;
  }
}



.name-asesor{
  text-align: center;
  width: 700px;
  margin-top: 10px;
  color:white;
  font-size: 60px;
  font-weight: 700;
  border-bottom: 2px white solid;
}

.rule{
  width: 33.33%; 
  padding: 0 30px;
}

.card{
  margin-bottom: 30px;
  width: 100%;
}

.nav-tabs {
  display: flex;
  flex-wrap: wrap;
}
.nav-item {
  flex: 1 1 auto;
  text-align: center;
  margin-bottom: 5px; 
}

.nav-link {
  padding: 10px;
}


@media (max-width: 768px) {
  .nav-item {
      flex: 1 0 auto; 
      margin-bottom: 0;
  }
}

@media (max-width: 576px) {
  .nav-item {
      flex: 1 0 auto; 
      margin-bottom: 0;
  }
}