{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    {% block extra_styles %}{% endblock %}
    <title>M&R Inversiones y Desarrollos</title>
</head>
<body>      
    
    <!-- nav -->
    <nav>
        <div id="navbar">
            

            {% if request.user.is_authenticated %}
             
                {% with url_name='inicio '|add:request.user.rol %}
                    <a  href="{% url url_name %}">
                        <img
                            src="{% static 'img/logo-1.2.png' %}" width="60px" height="60px"
                            alt="M&R Logo"
                            class="h-12"
                            
                        />
                    </a>
                {% endwith %}
              
                <button id="menu-responsive" onclick="abrir()"><i class='bx bx-menu'></i></button>
                
                
                {% if request.user.rol == "Asesor" %}

                <div class="add-button " id="nav-group">
                <button class="cerrar" onclick="cerrar()"><i class='bx bx-x'></i></button>
                <div class="gap">
                    <a href="{% url 'cuenta usuario' %}" class="btn btn-secondary rounded-pill px-4 py-2 in"><i class='bx bx-user-circle' ></i>Cuenta</a>
                </div>


                    
                <div class="gap">
                    <button type="button" class="btn btn-secondary rounded-pill px-4 py-2 in" data-bs-toggle="modal" data-bs-target="#ModalRegistroInmueble"><i class='bx bx-building-house icn'></i>Agregar Inmueble
                    </button>
                </div>

                {% elif request.user.rol == "Coordinador" %}
                    <!-- Agrega otros botones o enlaces específicos para Coordinador -->
                
                {% elif request.user.rol == "Propietario" %}
                    <!-- Agrega otros botones o enlaces específicos para Propietario -->
                
                {% elif request.user.rol == "Director General" %}
                    <!-- Agrega otros botones o enlaces específicos para Director General" -->
                
                {% endif %}
                
                {% block dynamic_button %}{% endblock %}
                <div class="gap">
                    <a class="btn btn-secondary rounded-pill px-4 py-2 out" href="{% url 'cerrar sesion' %}">
                    <i class='bx bx-log-out icn'></i>Cerrar sesión
                    </a>
                </div>
            
        </div>
            
            
                
            {% else %}
                <img
                    src="{% static 'img/logo-1.2.png' %}" width="60px" height="60px"
                    alt="M&R Logo"
                    class="h-12"/>
                    
            <a class="btn btn-secondary rounded-pill px-4 py-2 in" href="{% url 'login' %}">
                <i class='bx bx-log-in'></i>Iniciar sesión
            </a>
                <a class="btn btn-secondary rounded-pill px-4 py-2 in" href="{% url 'crear usuario' %}">
                    <i class='bx bx-log-in'></i>crear usuario
                </a>
            {% endif %}
        </div>
    </nav>

{%block content%} <!--NO PONER NADA (CONTENIDO DE LA VISTA HIJA)-->{%endblock%}





<!-- MODAL PARA CARGAR INMUEBLE -->
{% if request.user.rol == "Asesor" %}


<div class="modal fade" id="ModalRegistroInmueble" tabindex="-1" aria-labelledby="ModalLabelRegistroInmueble" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl"> <!-- Cambié modal-lg a modal-xl para más ancho -->
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="ModalLabelRegistroInmueble">Agregar inmueble</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body style-body-modal">
                <form method="post" id="add-form" action="{% url 'registrar_inmueble' %}">
                    {% csrf_token %}
                    
                    <div class="row mt-3">
                        <div class="col-md-6">
                            <label for="InputNombrePropiedad" class="form-label">Nombre de la propiedad</label>
                            <input type="text" class="form-control" name="nombre" id="InputNombrePropiedad" required>
                        </div>
                        <div class="col-md-6">
                            <label for="InputTipoDePropiedad" class="form-label">Tipo de propiedad</label>
                            <select class="form-select" name="tipoPropiedad" id="InputTipoDePropiedad" required>
                                <option selected disabled hidden>Seleccione un tipo de propiedad</option>
                                <option value="Apartamento">Apartamento</option>
                                <option value="Town house">Town house</option>
                                <option value="Quinta">Quinta</option>
                                <option value="Casa">Casa</option>
                                <option value="Galpon">Galpon</option>
                                <option value="Oficina">Oficina</option>
                                <option value="F comercio">F comercio</option>
                                <option value="Otros">Otros</option>
                            </select>
                        </div>
                    </div>
                    
                    <div class="row mt-3">
                        <div class="col-md-6">
                            <label for="InputEstado" class="form-label">Estado</label>
                            <select class="form-select" name="estado" id="InputEstado" required>
                                <option selected disabled hidden>Seleccione un tipo de estado</option>
                                <option value="En venta">En venta</option>
                                <option value="En alquiler">En alquiler</option>
                                <option value="Finalizado">Finalizado</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label for="InputPrecio" class="form-label">Precio</label>
                            <input type="number" class="form-control" name="precio" id="InputPrecio"  min="0.001" step="0.001" required>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-md-6">
                            <label for="InputNiveles" class="form-label">Niveles</label>
                            <input type="number" class="form-control" name="niveles" id="InputNiveles"  min="1" step="1" required>
                        </div>
                        <div class="col-md-6">
                            <label for="InputMetrosTerreno" class="form-label">Metros² del terreno</label>
                            <input type="number" class="form-control" name="metros_terreno" id="InputMetrosTerreno" min="0.001" step="0.001" required>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-md-6">
                            <label for="InputMetrosConstruccion" class="form-label">Metros² de construcción</label>
                            <input type="number" class="form-control" name="metros_construccion" id="InputMetrosConstruccion" min="0.001" step="0.001" required>
                        </div>
                    </div>
                    
                    <div class="row mt-3">
                        <div class="col-md-6">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" name="bathroom" id="InputBathroom">
                                <label for="InputBathroom" class="form-check-label">Baño</label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" name="cuarto_servicio" id="InputCuartoServicio">
                                <label for="InputCuartoServicio" class="form-check-label">Cuarto de servicio</label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" name="oficina" id="InputOficina">
                                <label for="InputOficina" class="form-check-label">Oficina</label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" name="estacionamiento" id="InputEstacionamiento">
                                <label for="InputEstacionamiento" class="form-check-label">Estacionamiento</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" name="half_bath" id="InputHalfBath">
                                <label for="InputHalfBath" class="form-check-label">Medio baño</label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" name="terraza" id="InputTerraza">
                                <label for="InputTerraza" class="form-check-label">Terraza</label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" name="habitacion" id="InputHabitacion">
                                <label for="InputHabitacion" class="form-check-label">Habitación</label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" name="maletero" id="InputMaletero">
                                <label for="InputMaletero" class="form-check-label">Maletero</label>
                            </div>
                        </div>
                    </div>

                   <!-- Agregar coordenadas geograficas por escrito
                    <div class="row mt-3">
                        <div class="col-md-6">
                            <label for="InputLatitud" class="form-label mt-2">Latitud</label>
                            <input type="number" class="form-control" name="latitud" id="InputLatitud" min="-90" max="90" step="0.00000000000001" required>
                         
                        </div>

                        <div class="col-md-6">
                            
                    <label for="InputLongitud" class="form-label mt-2">Longitud</label>
                    <input type="number" class="form-control" name="longitud" id="InputLongitud" min="-180" max="180" step="0.00000000000001" required>
                
                        </div>
                    </div> 
                    -->
                <div class="row mt-3">
                    <div class="col align-self-center">
                        <div class="pb-4">
                            <label for="InputDirección" class="form-label">Dirección</label>
                            <input type="text" class="form-control" name="direccion" id="InputDireccion" required>
                        </div>
                    <div id="map"></div>

                    <!-- Agregar coordenadas geográficas por mapa -->
                    <input type="hidden" id="InputLatitud" name="latitud" value="">
                    <input type="hidden" id="InputLongitud" name="longitud" value="">

                    <!--<label for="InputImagen" class="form-label">Imagen de portada</label>
                    <input type="file" id="InputImagen" accept="image/*">-->
                    </div>
                </div>
                    <div class="modal-footer mt-3">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary">Guardar cambios</button>
                    </div>
                </form>
                <script>
                    var map;
                    var currentMarker = null;
                
                    document.addEventListener('DOMContentLoaded', function() {
                        // Evento para mostrar el modal
                        var myModal = document.getElementById('ModalRegistroInmueble');
                        myModal.addEventListener('shown.bs.modal', function () {
                            if (!map) {
                                // Inicializa el mapa cuando se muestra el modal
                                map = L.map('map').setView([51.505, -0.09], 13);
                
                                // Añade el tile layer desde OpenStreetMap
                                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                                    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
                                }).addTo(map);
                
                                // Añade el geocodificador
                                var geocoder = L.Control.geocoder({
                                    defaultMarkGeocode: false
                                }).on('markgeocode', function(e) {
                                    var bbox = e.geocode.bbox;
                                    map.fitBounds([
                                        [bbox.getSouthWest().lat, bbox.getSouthWest().lng],
                                        [bbox.getNorthEast().lat, bbox.getNorthEast().lng]
                                    ]);
                                    var latlng = e.geocode.center;
                
                                    // Evento de clic en el mapa
                                    map.on('click', function(e) {
                                        // Elimina el marcador actual si existe
                                        if (currentMarker) {
                                            map.removeLayer(currentMarker);
                                        }
                
                                        // Agrega un nuevo marcador
                                        currentMarker = L.marker(e.latlng).addTo(map)
                                            .bindPopup(e.latlng.toString())
                                            .openPopup();
                
                                        // Muestra las coordenadas en la consola
                                        console.log('Latitud: ' + e.latlng.lat + ', Longitud: ' + e.latlng.lng);

                                        // Actualiza los valores del formulario
                                        document.getElementById('InputLatitud').value = e.latlng.lat;
                                        document.getElementById('InputLongitud').value = e.latlng.lng;
                                    });
                                }).addTo(map);
                            } else {
                                // Si el mapa ya fue inicializado, simplemente ajusta su tamaño
                                map.invalidateSize();
                            }
                        });
                    });
                </script>
            </div>
        </div>
    </div>
</div>


{% endif %}




<script src="{% static 'js/menu-responsive.js' %}"></script>

</body>

</html>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>