{% extends 'base/base.html'%}

{% load static %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static '/styles/style.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""></script>
    <style>
        #map {
          
            height: 169px;
            width: 350px;
            margin: 10px 20px;
        }

        @media (width <= 555px){
          #map {
           
            width: 70%;
            margin: 10px 20px;
        }
        }
    </style>
{% endblock %}

<!-- Botones dinámicos -->
{% block dynamic_button %}



<div class="add-button " id="nav-group">
  
  <button class="cerrar" onclick="cerrar()"><i class='bx bx-x'></i></button>
  
  <div class="gap">
<button type="button" class="btn btn-secondary rounded-pill px-4 py-2 in" onclick="visible()"><i class='bx bx-edit'></i>Editar</button>
  </div>

    <div class="gap"> 
      <button class=" btn-delete" type="button" data-bs-toggle="modal" data-bs-target="#modalBorrar{{ inmueble.id }}"><i class='bx bx-trash' ></i>Eliminar</button>
    </div>


<!-- Modal para Borrar -->
<div class="modal fade" id="modalBorrar{{ inmueble.id }}" tabindex="-1" aria-labelledby="modalBorrarLabel{{ inmueble.id }}" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title">Eliminar inmueble {{inmueble.id}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
              <form action="{% url 'eliminar_inmueble' inmueble.id%}" method="post">
              {% csrf_token %}
              <div class="modal-body">
                  <p>¿Estás seguro que deseas eliminar este inmueble?</p>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                  <button type="submit" class="btn btn-danger">Eliminar</button>
              </div>
          </form>
      </div>
  </div>
</div>

{%endblock%}


{% block content %}
<body id="Fondo">
  <div class="container-center">

    <div class="center">
      <div class="block">
        <div class="carousel">
          <img src="{% static 'img/Inmueble1.jpeg' %}" class="inmueble" alt="">
        </div>
        <div class="info">
          <h1 id="details-title">DETALLES DEL INMUEBLE</h1>
          <hr>
  
            <form class="form-container" id="form" action="{% url 'modificar_inmueble' inmueble.id %}" method="post">
              {% csrf_token %}
              

             <div id="first-group" class="group active-group"> 

                <div class="form-group">
                  <label for="Tipo-Propiedad">Tipo de Propiedad</label>
                  <select class="form-select input-select" name="tipoPropiedad" id="Tipo-Propiedad" aria-label="Default select example" required disabled>
                    <option selected disabled hidden></option>
                    <option value="Apartamento" {% if inmueble.tipoPropiedad == 'Apartamento' %} selected {% endif %}>Apartamento</option>
                    <option value="Town house" {% if inmueble.tipoPropiedad == 'Town house' %} selected {% endif %}>Town house</option>
                    <option value="Quinta" {% if inmueble.tipoPropiedad == 'Quinta' %} selected {% endif %}>Quinta</option>
                    <option value="Casa" {% if inmueble.tipoPropiedad == 'Casa' %} selected {% endif %}>Casa</option>
                    <option value="Galpon" {% if inmueble.tipoPropiedad == 'Galpon' %} selected {% endif %}>Galpon</option>
                    <option value="Oficina" {% if inmueble.tipoPropiedad == 'Oficina' %} selected {% endif %}>Oficina</option>
                    <option value="F comercio" {% if inmueble.tipoPropiedad == 'F comercio' %} selected {% endif %}>F comercio</option>
                    <option value="Otros" {% if inmueble.tipoPropiedad == 'Otros' %} selected {% endif %}>Otros</option>
                </select>
              </div>
  
              <div class="form-group">
                  <label for="InputEstado">Estado</label>
                    <select class="form-select input-select" aria-label="Default select example" required id="InputEstado" name="estado" disabled>
                        <option selected disabled hidden></option>
                        <option value="En venta" {% if inmueble.estado == 'En venta' %} selected {% endif %}>En venta</option>
                        <option value="En alquiler" {% if inmueble.estado == 'En alquiler' %} selected {% endif %}>En alquiler</option>
                        <option value="Finalizado" {% if inmueble.estado == 'Finalizado' %} selected {% endif %}>Finalizado</option>
                    </select>
              </div>
  
              <div class="form-group">
                  <label for="InputPrecio">Precio</label>
                  <input type="number" class="form-control input-control" id="InputPrecio" name="precio" value="{{ inmueble.precio }}" min="0.001" step="0.001" disabled required>
              </div>
  
              <div class="form-group">
                  <label for="InputNiveles">Niveles</label>
                  <input type="number" disabled class="form-control input-control" id="InputNiveles" name="niveles" value="{{ inmueble.niveles }}" min="1" step="1" required>
              </div>
  
              <div class="form-group">
                  <label for="InputMetrosTerreno">Metros² del terreno</label>
                  <input type="number" disabled class="form-control input-control" id="InputMetrosTerreno" name="metros_terreno" value="{{ inmueble.metros_terreno }}" min="0.001" step="0.001" required>
              </div>
  
              <div class="form-group">
                  <label for="InputMetrosConstrucción">Metros² de construcción</label>
                  <input type="number" disabled class="form-control input-control" id="InputMetrosConstrucción" name="metros_construccion" value="{{ inmueble.metros_construccion }}" min="0.001" step="0.001" required> 
              </div>

            </div> 

            <div id="second-group"  class="group ">

             <div class="form-group">
              <label for="InputBathroom" class="form-label">Baño</label>
              <input type="checkbox" disabled class="" name="bathroom" id="InputBathroom" {% if inmueble.bathroom %} checked {% endif %}>
             </div>
            
             <div class="form-group">
              <label for="InputCuartoServicio" class="form-label">Cuarto de servicio</label>
              <input type="checkbox" disabled class="form-check-input" name="cuarto_servicio" id="InputCuartoServicio" {% if inmueble.cuarto_servicio %} checked {% endif %}>
            </div>

            <div class="form-group"> 
              <label for="InputOficina" class="form-label">Oficina</label>
              <input type="checkbox" disabled class="form-check-input" name="oficina" id="InputOficina" {% if inmueble.oficina %} checked {% endif %}>
            </div>

            <div class="form-group"> 
              <label for="InputEstacionamiento" class="form-label">Estacionamiento</label>
              <input type="checkbox" disabled class="form-check-input" name="estacionamiento" id="InputEstacionamiento" {% if inmueble.estacionamiento %} checked {% endif %}>
            </div>

            <div class="form-group"> 
              <label for="InputHalfBath" class="form-label">Medio baño</label>
              <input type="checkbox" disabled class="form-check-input" name="half_bath" id="InputHalfBath" {% if inmueble.half_bath %} checked {% endif %}>
            </div>

            <div class="form-group"> 
              <label for="InputTerraza" class="form-label">Terraza</label>
              <input type="checkbox" disabled class="form-check-input" name="terraza" id="InputTerraza" {% if inmueble.terraza %} checked {% endif %}>
            </div>


            <div class="form-group"> 
              <label for="InputHabitacion" class="form-label">Habitación</label>
              <input type="checkbox" disabled class="form-check-input" name="habitacion" id="InputHabitacion" {% if inmueble.habitacion %} checked {% endif %}>
            </div>

            <div class="form-group"> 
              <label for="InputMaletero" class="form-label">Maletero</label>
              <input type="checkbox" disabled class="form-check-input" name="maletero" id="InputMaletero" {% if inmueble.maletero %} checked {% endif %}>
            </div>

          </div>




            <div id="third-group"  class="group ">


              <div class="form-group"> 
                <label for="InputDireccion" class="form-label">Dirección</label>
                <input type="text" disabled class="form-control input-control" name="direccion" id="InputDireccion" value="{{ inmueble.direccion }}" required>
             <div class="form-group">
              <label for="InputOficina" class="form-label">Oficina</label>
              <input type="checkbox" disabled class="" name="oficina" id="InputOficina" {% if inmueble.oficina %} checked {% endif %}>
             </div>
            
             <div class="form-group">
               <label for="InputEstacionamiento" class="form-label">Estacionamiento</label>
               <input type="checkbox" disabled class="" name="estacionamiento"  id="InputEstacionamiento" {% if inmueble.estacionamiento %} checked {% endif %}>
             </div>
             
              <div class="form-group">
                <label for="InputHalfBath" class="form-label">Medio baño</label>
                <input type="checkbox" disabled class="" name="half_bath" id="InputHalfBath" {% if inmueble.half_bath %} checked {% endif %}>
              </div>
  
              <div class="form-group">
                <label for="InputLatitud">Latitud</label>
                <input type="number" disabled class="form-control input-control" id="InputLatitud" name="latitud" value="{{ inmueble.latitud }}" min="-90" max="90" step="0.000001" required>
              </div>
  
              <div class="form-group">
                <label for="InputLongitud">Longitud</label>
                <input type="number" disabled class="form-control input-control" id="InputLongitud" name="longitud" value="{{ inmueble.longitud }}" min="-180" max="180" step="0.000001" required>
              </div>
  
              <div id="map"></div>
  
              <script>
          var map = L.map('map').setView([{{ inmueble.latitud }}, {{ inmueble.longitud }}], 16);
  
                L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);
  
    L.marker([{{ inmueble.latitud }}, {{ inmueble.longitud }}]).addTo(map).bindPopup('Inmueble').openPopup();
              </script>





            </div>

            <div id="map"></div>

            <script>
              var map = L.map('map').setView([{{ inmueble.latitud }}, {{ inmueble.longitud }}], 16);

              L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);

              L.marker([{{ inmueble.latitud }}, {{ inmueble.longitud }}]).addTo(map)
              .bindPopup('Inmueble')
              .openPopup();
            </script>

              
            

              <div id="btn-special">
                <button class="btn-save" type="submit"><i class='bx bx-save'></i>Guardar</button>
                <button class="btn-x" type="button" onclick="visible()"><i class='bx bx-x second-view'></i>Cancelar</button>
              </div>
        </form>

        <div class="pagination">
          <button class="btn-pag active" onclick="form_change(this, 'first-group')">1</button>
          <button class="btn-pag" onclick="form_change(this, 'second-group')">2</button>
          <button class="btn-pag" onclick="form_change(this, 'third-group')">3</button>
        </div>
        
        </div>
      </div>
      
    </div>


  </div>



  <script src="{% static 'js/pagination.js' %}"></script>




  <script>
    const btn_special = document.getElementById("btn-special");
    const Inputs = {
      Propiedad: document.getElementById("Tipo-Propiedad"),
      Estado: document.getElementById("InputEstado"),
      Precio: document.getElementById("InputPrecio"),
      Niveles: document.getElementById("InputNiveles"),
      M_Terrenos: document.getElementById("InputMetrosTerreno"),
      M_Construccion: document.getElementById("InputMetrosConstrucción"),
      Bathroom: document.getElementById("InputBathroom"),
      CuartoServicio: document.getElementById("InputCuartoServicio"),
      Oficina: document.getElementById("InputOficina"),
      Estacionamiento: document.getElementById("InputEstacionamiento"),
      HalfBath: document.getElementById("InputHalfBath"),
      Terraza: document.getElementById("InputTerraza"),
      Habitacion: document.getElementById("InputHabitacion"),
      Maletero: document.getElementById("InputMaletero"),
      Direccion: document.getElementById("InputDireccion"),
      Latitud: document.getElementById("InputLatitud"),
      Longitud: document.getElementById("InputLongitud"),
    };

    const visible = () => {
      const isDisabled = Inputs.Propiedad.disabled;

      Object.keys(Inputs).forEach(key => {
        Inputs[key].disabled = !isDisabled;
      });

      btn_special.style.visibility = isDisabled ? "visible" : "hidden";
    };
  </script>
  
</body>
{% endblock %}
