{% extends 'base/base.html'%}

{% load static %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static '/styles/style.css' %}">
{% endblock %}


<!-- Botones dinámicos -->
{% block dynamic_button %}

<button type="button" class="btn btn-secondary rounded-pill px-4 py-2 in" onclick="visible()"><i class='bx bx-edit'></i>Editar</button>

<button class=" btn-delete" type="submit"><i class='bx bx-trash' ></i>Eliminar</button>

{%endblock%}



{% block content %}
<body id="Fondo">

  <div class="center">
    <div class="block">
      <div class="carousel">
        <img src="{% static 'img/Inmueble1.jpeg' %}" class="inmueble" alt="">

        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae ex neque consequuntur, officiis aliquam voluptatum? Labore perferendis sapiente doloribus iste, voluptatibus incidunt quod dolorem possimus, quisquam laudantium nam rerum illo!</p>

        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae quam non modi cum aspernatur fuga incidunt accusamus consequatur veritatis praesentium, maxime inventore maiores explicabo laudantium numquam, dolores quos beatae natus placeat iste aliquam delectus quae! At expedita aliquid temporibus, nisi maxime eius, voluptate minus velit totas!</p>
      </div>
      <div class="info">
        <h1 id="details-title">DETALLES DEL INMUEBLE</h1>
        <hr>

        <form class="form-container" id="form">
          <div class="form-group">
              <label for="Propietario">Propietario</label>
              <input class="form-control" type="text" id="Propietario" value="Mario Carreño" disabled>
              
          </div>
          <div class="form-group">
              <label for="Tipo-Propiedad">Tipo de Propiedad</label>
              <select class="form-select" id="Tipo-Propiedad" aria-label="Default select example" required disabled>
                <option selected disabled hidden></option>
                <option selected value="Casa">Casa</option>
                <option value="Apartamento">Apartamento</option>
                <option value="Oficina">Oficina</option>
                <option value="Town House">Town House</option>
                <option value="Quinta">Quinta</option>
                <option value="Galpón">Galpón</option>
                <option value="F. Comercio">F. Comercio</option>
                <option value="Otros">Otros</option>
            </select>
          </div>
          <div class="form-group">
              <label for="InputEstado">Estado</label>
                                <select class="form-select" aria-label="Default select example" required id="InputEstado" disabled>
                                    <option selected disabled hidden></option>
                                    <option selected value="En venta">En venta</option>
                                    <option value="En alquiler">En alquiler</option>
                                </select>
          </div>
          <div class="form-group">
              <label for="InputPrecio">Precio</label>
              <input type="number" class="form-control" id="InputPrecio" min="1" value="12.000" disabled required>
          </div>
          <div class="form-group">
              <label for="InputNiveles">Niveles</label>
              <input type="number" value="3" disabled class="form-control" id="InputNiveles" min="1" required>
          </div>
          <div class="form-group">
              <label for="InputMetrosTerreno">Metros² del terreno</label>
              <input type="number" value="330" disabled class="form-control" id="InputMetrosTerreno" min="1" required>
          </div>
          <div class="form-group">
              <label for="InputMetrosConstrucción">Metros² de construcción</label>
              <input type="number" value="280" disabled class="form-control" id="InputMetrosConstrucción" min="1" required> 
          </div>
          <div class="form-group">
              <label for="InputImagen">Imagen de portada</label>
              <input disabled class="form-control" type="file" id="InputImagen" accept="image/*">
          </div>
          
          <div id="btn-special">
            <button class="btn-save" type="submit"><i class='bx bx-save' ></i>Guardar</button>
            <button class="btn-x" type="submit"><i class='bx bx-x'></i>Cancelar</button>
          </div>
      </form>


        <!-- <form action="" class="details-inm">
          <div>
            <label for="">Propietario</label>
            <input class="details" type="text">
          </div>
          <div>
            <label for="">Propietario</label>
            <input class="details" type="text">
          </div>
          
        </form> -->
      </div>
    </div>
    
  </div>


<!-- Esto es para el Backend -->
  <!-- <h1>Soy un inmueble con datos</h1>
  El id del inmueble es: {{inmueble_id}} -->

  <script src="{% static 'js/visible-form.js' %}"></script>
  
</body>
{% endblock %}
