{% extends 'base/base.html'%}

{% load static %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static '/styles/style.css' %}">
{% endblock %}

<!-- Botones dinámicos -->
{% block dynamic_button %}
<div class="add-button " id="nav-group">
    <button class="cerrar" onclick="cerrar()"><i class='bx bx-x'></i></button>
    <div class="gap">
        <button type="button" class="btn btn-secondary rounded-pill px-4 py-2 in" data-bs-toggle="modal" data-bs-target="#ModalRegistroInmueble"><i class='bx bx-building-house icn'></i>Agregar Inmueble
        </button>
    </div>
    
{%endblock%}


{% block content %}

    <body id="Fondo">


    <div class="block-name">
        <h2 class="name-asesor">Bienvenido {{ request.user.rol }}  {{ request.user.nombre }}</h2>
    </div>

    <div class="d-fluid">
        <div class="buscador">
            <!--Buscador-->
            <input
                type="text"
                placeholder="Buscar Inmueble"
                class="form-control rounded-pill px-4 py-2 w-50"
            />
            <!--Icono-->
            <button type="button" class="d-fluid btn btn-secondary rounded-pill px-4 py-2">
                <i class='bx bx-search-alt'></i>Buscar
            </button>

            <!--Lupa-->
            <button type="button" class="d-fluid btn-secondary ocult">
                <i class='bx bx-search-alt lupa'></i>
            </button>
        </div>
    </div>

    <h1 class="mt-5 text-center text-light">Inmuebles:</h1>
    {% if inmuebles %}
        <div class="cards">
            <div class="row">
                {% for inmueble in inmuebles %}
                        <div class="col-12 col-sm-6 col-lg-4 mb-4   rule">
                            <div class="card bg-white">
                                <a href="{% url 'inmueble_detalles' inmueble.id %}" target="_blank">
                                <img
                                    src="{% static 'img/Inmueble1.jpeg' %}"
                                    alt="Exterior View"
                                    class="card-img-top"
                                />
                                <div class="card-body">
                                    <h3 class="card-title">{{inmueble.tipoPropiedad}}</h3>
                                    <h4>Propietario: NULL</h4>
                                    <h5 class="text-dark">ID propiedad: {{inmueble.id}}</h5>
                                </div>
                                </a>
                            </div>
                        </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <h2 class="text-center text-light">No hay inmuebles registrados (BD).</h2>
    {% endif %}

        
<!-- Modal De registro Inmueble -->
<div class="modal fade" id="ModalRegistroInmueble" tabindex="-1" aria-labelledby="ModalLabelRegistroInmueble" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="ModalLabelRegistroInmueble">Agregar inmueble</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body style-body-modal">
                <form method="post" id="add-form" action="{% url 'registrar_inmueble' %}">
                    {% csrf_token %}
                    <label for="InputTipoDePropiedad" class="form-label">Tipo de propiedad</label>
                    <select class="form-select" name="tipoPropiedad" id="InputTipoDePropiedad" required>
                        <option selected disabled hidden>Seleccione un tipo de propiedad</option>
                        <option value="Apartamento">Apartamento</option>
                        <option value="Town house">Town house</option>
                        <option value="Quinta">Quinta</option>
                        <option value="Casa">Casa</option>
                        <option value="Galpon">Galpon</option>
                        <option value="Oficina">Oficina</option>
                        <option value="F comercio">F comercio</option>
                        <option value="Otros">Otros</option>
                    </select> <br>

                    <label for="InputEstado" class="form-label">Estado</label>
                    <select class="form-select" name="estado" id="InputEstado" required>
                        <option selected disabled hidden>Seleccione un tipo de estado</option>
                        <option value="En venta">En venta</option>
                        <option value="En alquiler">En alquiler</option>
                        <option value="Finalizado">Finalizado</option>
                    </select><br>

                    <label for="InputPrecio" class="form-label">Precio</label>
                    <input type="number" class="form-control" name="precio" id="InputPrecio"  min="0.001" step="0.001" required>
                    
                    <br>
                    <label for="InputNiveles" class="form-label">Niveles</label>
                    <input type="number" class="form-control" name="niveles" id="InputNiveles"  min="1" step="1" required>
                    <br>
                    <label for="InputMetrosTerreno" class="form-label">Metros² del terreno</label>
                    <br>
                    <input type="number" class="form-control" name="metros_terreno" id="InputMetrosTerreno" min="0.001" step="0.001" required>
                    <br>
                    <label for="InputMetrosConstruccion" class="form-label">Metros² de construcción</label>
                    <input type="number" class="form-control" name="metros_construccion" id="InputMetrosConstruccion" min="0.001" step="0.001" required> 
                    <br>
                    <div class="grid-temp">
                        
                    <div>
                        <br>
                        <input type="checkbox" class="form-check-input" name="bathroom" id="InputBathroom">
                        <label for="InputBathroom" class="form-label">Baño</label>
                    </div>
                   
                    
                    <div>
                        <br>
                        <input type="checkbox" class="form-check-input" name="cuarto_servicio" id="InputCuartoServicio">
                        <label for="InputCuartoServicio" class="form-label">Cuarto de servicio</label>
                    </div>
                   
                    
                    <div>
                        <br>
                    <input type="checkbox" class="form-check-input" name="oficina" id="InputOficina">
                    <label for="InputOficina" class="form-label">Oficina</label>

                    </div>
                    
                    
                    <div>

                        <br>
                        <input type="checkbox" class="form-check-input" name="estacionamiento" id="InputEstacionamiento">
                        <label for="InputEstacionamiento" class="form-label">Estacionamiento</label>

                    </div>
                   
                    
                    <div>
                        <br>
                        <input type="checkbox" class="form-check-input" name="half_bath" id="InputHalfBath">
                        <label for="InputHalfBath" class="form-label">Medio baño</label>
                    </div>
                   
                    
                    <div>
                        <br>
                        <input type="checkbox" class="form-check-input" name="terraza" id="InputTerraza">
                        <label for="InputTerraza" class="form-label">Terraza</label>
                    </div>
                    
                    <div>
                        <br>
                        <input type="checkbox" class="form-check-input" name="habitacion" id="InputHabitacion">
                        <label for="InputHabitacion" class="form-label">Habitación</label>
                    </div>
                    
                    <div>
                        <br>
                        <input type="checkbox" class="form-check-input" name="maletero" id="InputMaletero">
                        <label for="InputMaletero" class="form-label">Maletero</label>
                    </div>
                  
                    </div>
                    
                    


                    <br>
                    <label for="InputUbicacion" class="form-label mt-2">Ubicación</label>
                    <input type="text" class="form-control" name="ubicacion" id="InputUbicacion" required>
                    <br>

                    <!--<label for="InputImagen" class="form-label">Imagen de portada</label>
                    <input type="file" id="InputImagen" accept="image/*">-->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary">Guardar cambios</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}